.base {
  border-left: solid .5px black;
  border-right: solid .5px black;
  border-bottom: solid .5px black;
  padding-bottom: 3rem;
  min-height: 100vh;
  a {
    text-decoration: none;
    color: #212529;
    &:hover {
      color: #212529;
      text-decoration: none;
    }
  }
  padding-top: 4rem;
  .btn-home {
    margin-left: .8rem;
    img {
      &:hover {
        opacity: .8;
      }
    }
  }
  .goat-navbar {
    height: 56px;
    background: #fff;
    border-bottom: black solid .5px;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  
  .base.container {
    max-width: 1200px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .base.container {
    max-width: 1200px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .base.container {
    max-width: 1400px;
  }
}